.div3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 20px black;
}
.div3 img{
    width: 150px;
    border-radius: 20px;
    margin-right: 10px;
}
.div4{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 20px black;
}
.div4 img{
    width: 150px;
    border-radius: 20px;
    margin-right: 10px;
}
.div5{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 20px black;
}
.div5 img{
    width: 150px;
    border-radius: 20px;
    margin-right: 10px;
}
.div6{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 20px black;
}
.div6 img{
    width: 150px;
    border-radius: 20px;
    margin-right: 10px;
}
