.div1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 20px black;
}
.div1 img{
    width: 150px;
    border-radius: 20px;
    margin-right: 10px;
}

.div2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 20px black;
}
.div2 img{
    width: 150px;
    border-radius: 20px;
    margin-right: 10px;
}
nav img{
    width: 70px;
    border-radius: 20px;
}