nav {
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aqua;
    width: 100%;
    min-height: 60px;


}




footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div h2 {
    color: black;
}

.div2 p {
    color: black;
}

.div0 {
    background-color: aqua;
    box-shadow: 0 0 20px black;
    border-radius: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1000px;
    margin: 0 auto;


}

@media (max-width:900px) {
    .div0 {
        width: 700px;
    }

    nav a {
        font-size: 20px;
    }
}

@media (max-width:700px) {
    .div0 {
        width: 500px;
        flex-flow: column;
        padding: 10px;
    }

    nav {
        flex-flow: column;

    }

    nav a {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media (max-width:500px) {
    .div0 {
        width: 300px;
    }
}